@inject GameSignalRClient _signalRClient

<aside class="game-over-overlay">
    <h1 class="game-over-overlay--title">Game over</h1>
    <input type="button"
        class="game-over-overlay--reboot-button" 
        value="Start new game"
        @onclick="async () => await StartNewGame()"/>
</aside>

@code {
    public async Task StartNewGame()
    {
        await _signalRClient.StartNewGame();
    }
}
