.game-board {
    background-color: #333333;
    border-collapse: separate;
    border-spacing: 5px 5px;
    display: table;
    height: calc(100vh - 10rem);
    width: calc(100vw - 2rem - 15px);
}

.board-container {
    position: relative;
}

.game-tile {
    border: 1px solid transparent;
    border-radius: 5px;
    display: inline-block;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: auto;
    background-position: center;
}

.game-tile.selected {
    border-color: #fff;
}

.tile-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0 none;
}
 
.tile-EmptyTile {
    background-color: transparent;
    transition: background-color 2s linear;
}

.tile-RedTile {
    background-color: #c62234;
    transition: background-color 2s linear;
    background-image: url(/images/beer-mug.svg);
}

.tile-GreenTile {
    background-color: #34a622;
    transition: background-color 2s linear;
    background-image: url(/images/cocktail-glass.svg);
}

.tile-BlueTile {
    background-color: #1234e6;
    transition: background-color 2s linear;
    background-image: url(/images/bottle-with-popping-cork.svg);
}
.tile-PinkTile {
    background-color: #e375d9;
    transition: background-color 2s linear;
    background-image: url(/images/baby-bottle.svg);
}

.tile-PurpleTile {
    background-color: #731193;
    transition: background-color 2s linear;
    background-image: url(/images/wine-glass.svg);
}

.tile-YellowTile {
    background-color: #e9d973;
    transition: background-color 2s linear;
    background-image: url(/images/coffee-drink-spilled-spilt-thirst.svg);
}

.tile-LightBlueTile {
    background-color: #82d9FB;
    transition: background-color 2s linear;
    background-image: url(/images/tropical-drink.svg);
}
