@page "/"
@inject GameSignalRClient _signalRClient

<PageTitle>Index</PageTitle>
<style>
  .game-board {
    display:table;
    background-color: #333333;
  }
  .game-tile {
    background-size: 3rem;
    border-radius: 5px;
    border-spacing: 5px;
    padding: 5px;
    display: inline-block;
    height: 3rem;
    width: 3rem;
  }
  .tile-EmptyTile {
    visibility: hidden;
  }
  .tile-RedTile {
    background-color: #c62234;
  }
  .tile-GreenTile {
    background-color: #34a622;
  }
  .tile-BlueTile {
    background-color: #1234e6;
  }
</style>

<table id="game-board" class="game-board">
  @for (var rowNum = 0; rowNum < rows; rowNum++)
  {
    <tr>
      @for (var colNum = 0; colNum < cols; colNum++)
      {
        <td id="tile" class="game-tile @GetTileColour(new Coordinates(colNum, rowNum))">
          &nbsp;
          <input type="button" class="tile-button" @onclick="OnTileClick" />
        </td>
      }
    </tr>
  }
</table>
<MovementOverlay />

@code {
    private readonly Subject<bool> _disposed = new();
    private IDisposable _gameBoardSubscription;
    private int rows = 15;
    private int cols = 10;
    
    public GameBoard? Board { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _gameBoardSubscription = _signalRClient.OnBoardChanged(board =>
        {
            Board = board;
            Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(board));
            StateHasChanged();
        });

        await _signalRClient.Start();

        Board = await _signalRClient.GetGameBoard();
        Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(Board));

        await base.OnInitializedAsync();
    }

    public void Dispose()
    {
        _signalRClient.Stop().GetAwaiter().GetResult();
        _disposed.OnNext(true);
        _gameBoardSubscription?.Dispose();
    }

    private void OnTileClick()
    {
        
    }

    private string GetTileColour(Coordinates coordinates) {
        if (Board is null)
        {
            return "tile-BlueTile";
        }

        var tileType = Board.Tiles[coordinates.Y][coordinates.X];
        return $"tile-{tileType.ToString()}";
    }
}
